.movie-page{
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "poster title"
    "poster description"
    "poster platform"
    "poster add"
    "review review";
    padding:60px;
}

.movie-poster{
    grid-area:poster;
    padding:10px;

}

.movie-title{
    grid-area:title;
    padding:0;
}

.movie-poster{
    grid-area:title;
}

.movie-description{
    grid-area:description;
}

.movie-platform{
    grid-area:platform;
}

.add-movie{
    grid-area:add;
}

.review-div{
    grid-area:review;
    /* border-top: solid black 2px; */
    padding-top:10px;
    line-height:20px;
}

/* .review-list{
    border:solid black 2px
} */

#review, #review-header{
    border-bottom:solid white 2px
}