.list-page{
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 
    "share . info"
    "change movies .";
    padding:60px;
    line-height:30px;
}

.delete-list{
    grid-area:delete;
}

.list-info{
    grid-area:info;
}

.list-movies{
    grid-area:movies;
    line-height:30px;
    /* line-height: 20px; */
}

.share-list{
    grid-area:share;
}

.change-list{
    grid-area:change;
}

#movie{
    border-bottom:solid white 2px;

}